.simonGame {
  text-align: center;
  background-color: #CCC;
}
.simonGame .powerDisplay.lightOn {
  background-color: #FFF;
  height: 1em;
  width: 1em;
  border-radius: 1em;
}
.simonGame .powerDisplay.lightOff {
  background-color: #000;
  height: 1em;
  width: 1em;
  border-radius: 1em;
}
.simonGame .strictDisplay.lightOn {
  background-color: #FFF;
  height: 1em;
  width: 1em;
  border-radius: 1em;
}
.simonGame .strictDisplay.lightOff {
  background-color: #000;
  height: 1em;
  width: 1em;
  border-radius: 1em;
}
.simonGame .gameCount.lightOff {
  background-color: #000;
  width: 2em;
  color: black;
}
.simonGame .gameCount.lightOn {
  background-color: #000;
  width: 2em;
  color: red;
}

.simonGame .gameButtons {
    position: relative;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
}
.simonGame .gameButtons .cutout {
    background-color: #445;
    position: absolute;
    left: 6em;
    top: 6em;
    border-radius: 8em;
    width: 8em;
    height: 8em;
    z-index: 3;
}
.simonGame .gameButton {
  height: 10em;
  width: 10em;
}
.simonGame .gameButton[data-color="red"] {
  border-radius: 10em 0 0 0;
}
.simonGame .gameButton[data-color="blue"] {
  border-radius: 0 10em 0 0;
}
.simonGame .gameButton[data-color="yellow"] {
  border-radius: 0 0 0 10em;
}
.simonGame .gameButton[data-color="green"] {
  border-radius: 0 0 10em 0;
}

[data-color="red"].lightOff {
  background-color: #F99;
}
[data-color="red"].lightOn {
  background-color: #F00;
}
[data-color="blue"].lightOff {
  background-color: #99F;
}
[data-color="blue"].lightOn {
  background-color: #00F;
}
[data-color="yellow"].lightOff {
  background-color: #E5D5A5;
}
[data-color="yellow"].lightOn {
  background-color: #FF0;
}
[data-color="green"].lightOff{
  background-color: #9F9;
}
[data-color="green"].lightOn {
  background-color: #0F0;
}

footer {
  text-align: center;
}
