.simonGame {
  text-align: center;
}
.simonGame .gameButton {
  height: 10em;
  width: 10em;
}
.redButton.inactive {
  background-color: #F99;
}
.redButton.active {
  background-color: #F00;
}
.blueButton.inactive {
  background-color: #99F;
}
.blueButton.active {
  background-color: #00F;
}
.yellowButton.inactive {
  background-color: #FEB;
}
.yellowButton.active {
  background-color: #FF0;
}
.greenButton.inactive{
  background-color: #9F9;
}
.greenButton.active {
  background-color: #0F0;
}

footer {
  text-align: center;
}
